/* Text */
.account-text {
  font-family: Arial, Helvetica, sans-serif;
}


.form-left-align {
    text-align: left;
  }

.button-one {
    background-color: #c3cad030 !important;
    color: #112A46 !important;
    border-color: #112A46 !important;
}

.button-two {
    background-color: #112A46 !important;
    color: white !important;
    border-color: #112A46 !important;
}

.button-one:hover {
    background-color: white !important;
    color: black !important;
    border-color: #112A46 !important;
}

.button-two:hover {
    background-color: white !important;
    color: #112A46 !important;
    border-color: #112A46 !important;
}
.button-rm {
    background-color: #791e1e !important;
    color: white !important;
    border-color: #791e1e !important;
}

.button-rm:hover {
    background-color: white !important;
    color: #791e1e !important;
    border-color: #791e1e !important;
}

.button-one, .button-two {
  animation: pulse 2s infinite;
}

.custom-switch .form-check-input:checked {
    background-color: #791e1e;
    border-color: #791e1e;
  }
  
  .custom-switch .form-check-input:checked::before {
    background-color: white;
  }
  
  .custom-switch .form-check-input {
    background-color: #ccc;
    border-color: #ccc;
  }
  
  .custom-switch .form-check-input::before {
    background-color: white;
  }

input[type="range"] {
    width: 100%;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 0.5    ;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #112A46;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #112A46;
    cursor: pointer;
    border-radius: 50%;
}

.pie-chart-container {
  width: 98%;
  height: 98%;
  margin: 0 auto;
}

/* Animation for form */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-container {
  animation: fadeIn 1s ease-in-out;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Animation for buttons */
/* @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
} */