.footer {
    color: #fff;
    padding: 20px;
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1 !important;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}