.footer {
    color: #fff;
    padding: 20px;
    text-align: right;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.footer a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}